body {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #4f5d6e;
  position: relative;
  background: cadetblue;
}

.body-wrap {
  min-height: 700px;
}

.body-wrap {
  position: relative;
  z-index: 0;
}

nav {
  margin-top: 60px;
  box-shadow: 5px 4px 5px #000;
}

.selected {
  background-color: #4f5d6e;
}

.searchInput {
  width: 1000px;
  height: 40px;
  font-size: 30px;
}
.searchButton {
  background-color: aquamarine;
  padding: 10px;
  width: 100px;
  border: 0px;
}
.weatherCountry {
}

.blockNews {
  z-index: 0;
  text-align: justify;
  border: 2px solid white;
  padding: 10px;
  margin: 10px;
  width: 350px;
  height: 500px;
  overflow: hidden;
}

.newsImage {
  width: 100%;
  height: auto;
}
